.user-detail-text-style {
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

.user-attribute-text-style {
  color: rgb(97, 125, 85);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}

.user-detail-update-button-style {
  color: rgb(249, 249, 249);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}

.user-detail-update-text-style {
  color: rgb(52, 58, 50);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}

.user-edit-switch-style {
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}

.align-edit-switch {
  display: flex;
  justify-content: flex-end;
}

.user-detail-title-style {
  color: rgb(5, 12, 2);
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
