.sales-report-column-style {
  color: rgb(119, 189, 89);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.sales-report-row-style {
  color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.sales-report-title {
  color: rgb(75, 92, 68);
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.sales-report-date-range-style {
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
}

.sales-report-search-button-style {
  color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
}

.sales-reports-title-style {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
