.order-attribute-detail-text-style {
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

.order-attribute-text-style {
  color: rgb(97, 125, 85);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}

.product-add-to-basket-text-style {
  color: rgb(249, 249, 249);
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
}

.order-detail-text-style {
  color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
}

.order-column-text-style {
  color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}
